<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Issue Viewer</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/angularjs/1.5.5/angular.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">google.load('visualization', '1.0', {'packages': ['corechart']});</script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body ng-app="app">

<div class="container-fluid">

    <div ng-controller="MsgCtrl">

        <div class="row">

            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 text-center">
                <h2>Contributors</h2>
                <ul class="list-group">
                    <li ng-repeat="u in users" class="list-group-item"><input type="checkbox" ng-model="u.isChecked">&nbsp;
                        <span class="username">{{u.name}}</span>
                    </li>
                </ul>

                <div class="col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
                  <pie-chart data="chartData" title="Qui est le plus bavard?" width="600" height="420"></pie-chart>
                </div>

            </div>

            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 text-center">
                <h2>Messages</h2>
                <ul class="list-group">
                    <li ng-repeat="m in conversation" class="list-group-item border">
                        <panel ng-hide="(users[m.authorId-1].isChecked == true)">
                            <panel-title>
                            </panel-title>
                            <panel-body>
                                <img src="{{m.img}}" class="img-circle img-responsive avatar inline" alt=""/>
                                {{m.text}}
                            </panel-body>
                        </panel>
                    </li>
                </ul>
                <button class="btn btn-primary" ng-click="toggle()">Reply</button>
            </div>

            <div class="row" ng-show="show === true">
                <form class="col-md-offset-6 col-xs-offset-6 col-sm-offset-6 form-horizontal col-md-6 col-lg-6 col-sm-6 col-xs-6">
                    <fieldset>
                    <!-- Text input-->
                    <div class="form-group">
                      <div class="col-md-offset-2 col-md-4 col-sm-offset-2 col-sm-4 col-xs-offset-2 col-xs-4">
                      <input id="textinput" ng-model="message.username" type="text" placeholder="Entrez votre username" class="form-control input-md">
                      </div>
                    </div>

                    <!-- Textarea -->
                    <div class="form-group">
                      <div class="col-md-offset-2 col-md-8 col-xs-8">                     
                        <textarea class="form-control" ng-model="message.text" name="textarea">Reply</textarea>
                      </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                      <div class="col-md-offset-4 col-md-4 col-xs-offset-4 col-xs-4">
                        <button id="singlebutton" class="btn btn-success" name="singlebutton" class="btn btn-primary" ng-click="addMsg()">Reply</button>
                      </div>
                    </div>

                    </fieldset>
                    </form>

            </div>

        </div>
        <!-- /.row -->


    </div>
</div>

<div class="footer">
    <p> from the Yeoman team</p>
</div>
<!-- /.container -->

<script type="text/javascript" src="scripts/main.js"></script>
<!-- jQuery Version 1.11.1 -->
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.4.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>

</html>
