<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Issue Viewer</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/angularjs/1.5.5/angular.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">google.load('visualization', '1.0', {'packages': ['corechart']});</script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
 <style>
     
     .avatar {
    height: 100px;
    width: 100px;
}

.username {
    font-weight: bold;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 16px;
}

.username:hover {
    color: red;
    cursor: pointer;
}

.inline {
    display: inline-block;
}

.chart {
    width: 300px;
    height: 300px;
}

[class*="col-"], footer {
    /*background-color: #E2BC74;
    border: 2px solid black;
    border-radius: 2px;*/
    line-height: 40px;
}
 </style>
 <script>

var app = angular.module('app', []);

app.directive('pieChart', function ($timeout) {
    return {
        restrict: 'EA',
        scope: {
            data: '=data'
        },
        link: function ($scope, $elm, $attr) {

            // Create the data table and instantiate the chart
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Label');
            data.addColumn('number', 'Value');
            var chart = new google.visualization.PieChart($elm[0]);

            draw();

            // Watches, to refresh the chart when its data, title or dimensions change
            $scope.$watch('data', function () {
                draw();
            }, true); // true is for deep object equality checking


            function draw() {
                if (!draw.triggered) {
                    draw.triggered = true;
                    $timeout(function () {
                        draw.triggered = false;
                        var label, value;
                        data.removeRows(0, data.getNumberOfRows());
                        angular.forEach($scope.data, function (row) {
                            label = row[0];
                            value = parseFloat(row[1], 10);
                            if (!isNaN(value)) {
                                data.addRow([row[0], value]);
                            }
                        });
                        chart.draw(data);
                    }, 0, true);
                }
            }
        }
    };
}).controller('MsgCtrl', ['$scope', function ($scope) {
    $scope.chartData = [
        ['Olive', 43],
        ['Carine', 34],
        ['Léna', 25],
        ['Enzo', 12]
    ];

    $scope.users = [
        {id: 1, name: 'Olive', isChecked: false},
        {id: 2, name: 'Carine', isChecked: false},
        {id: 3, name: 'Léna', isChecked: false},
        {id: 3, name: 'Enzo', isChecked: false}
    ];

    $scope.show = false;

    $scope.toggle = function() {
        $scope.show = true;
    }

     $scope.addMsg = function() {
          if(event.keyCode == 13 && $scope.message.text){
              $scope.conversation.push({text:$scope.message.text, authorName:$scope.message.username});
              $scope.message.text = '';
              $scope.message.username = '';
          }
      }

    $scope.conversation = [
        {
            messageId: 1,
            text: 'This looks close to #6456 and I thought it was just another case of that issue but @indutny mentioned that the errors are printed from others languages so #6456 alone shouldnt have caused this this is why I m opening a separate issue.',
            img: 'images/myAvatar.png',
            wordCount: 43,
            authorId: 1,
            authorName: 'Olive'
        },
        {
            messageId: 2,
            text: 'So you re experiencing a dropped data to console with normal exiting JS? i.e. without calling process.exit()? If so thats a different issue to #6456. On which platform are you experiencing this issue?',
            img: 'images/myAvatar2.png',
            wordCount: 34,
            authorId: 2
        },
        {
            messageId: 3,
            text: 'That happens because of libc buffer size limit. In fact vfprintf returns -1.',
            img: 'images/myAvatar4.png',
            wordCount: 13,
            authorId: 3
        },
        {
            messageId: 4,
            text: 'This looks close to #6456 and I thought it was just another case of that issue but @indutny mentioned that the errors are printed from others languages so #6456 alone shouldnt have caused this this is why I m opening a separate issue.',
            img: 'images/myAvatar.png',
            wordCount: 43,
            authorId: 1,
            authorName: 'Olive'
        },
        {
            messageId: 5,
            text: 'So you re experiencing a dropped data to console with normal exiting JS? i.e. without calling process.exit()? If so thats a different issue to #6456. On which platform are you experiencing this issue?',
            img: 'images/myAvatar2.png',
            wordCount: 34,
            authorId: 2
        },
        {
            messageId: 6,
            text: 'That happens because of libc buffer size limit. In fact vfprintf returns -1.',
            img: 'images/myAvatar4.png',
            wordCount: 13,
            authorId: 3
        },
        {
            messageId: 7,
            text: 'This looks close to #6456 and I thought it was just another case of that issue but @indutny mentioned that the errors are printed from others languages so #6456 alone shouldnt have caused this this is why I m opening a separate issue.',
            img: 'images/myAvatar.png',
            wordCount: 43,
            authorId: 1,
            authorName: 'Olive'
        },
        {
            messageId: 8,
            text: 'So you re experiencing a dropped data to console with normal exiting JS? i.e. without calling process.exit()? If so thats a different issue to #6456. On which platform are you experiencing this issue?',
            img: 'images/myAvatar2.png',
            wordCount: 34,
            authorId: 2
        },
        {
            messageId: 9,
            text: 'That happens because of libc buffer size limit. In fact vfprintf returns -1.',
            img: 'images/myAvatar4.png',
            wordCount: 13,
            authorId: 3
        }
    ];

}]);
 </script>
</head>
<body ng-app="app">

<div class="container-fluid">

    <div ng-controller="MsgCtrl">

        <div class="row">

            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 text-center">
                <h2>Contributors</h2>
                <ul class="list-group">
                    <li ng-repeat="u in users" class="list-group-item"><input type="checkbox" ng-model="u.isChecked">&nbsp;
                        <span class="username">{{u.name}}</span>
                    </li>
                </ul>

                <div class="col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
                  <pie-chart data="chartData" title="Qui est le plus bavard?" width="600" height="420"></pie-chart>
                </div>

            </div>

            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 text-center">
                <h2>Messages</h2>
                <ul class="list-group">
                    <li ng-repeat="m in conversation" class="list-group-item border">
                        <panel ng-hide="(users[m.authorId-1].isChecked == true)">
                            <panel-title>
                            </panel-title>
                            <panel-body>
                                <img src="{{m.img}}" class="img-circle img-responsive avatar inline" alt=""/>
                                {{m.text}}
                            </panel-body>
                        </panel>
                    </li>
                </ul>
                <button class="btn btn-primary" ng-click="toggle()">Reply</button>
            </div>

            <div class="row" ng-show="show === true">
                <form class="col-md-offset-6 col-xs-offset-6 col-sm-offset-6 form-horizontal col-md-6 col-lg-6 col-sm-6 col-xs-6">
                    <fieldset>
                    <!-- Text input-->
                    <div class="form-group">
                      <div class="col-md-offset-2 col-md-4 col-sm-offset-2 col-sm-4 col-xs-offset-2 col-xs-4">
                      <input id="textinput" ng-model="message.username" type="text" placeholder="Entrez votre username" class="form-control input-md">
                      </div>
                    </div>

                    <!-- Textarea -->
                    <div class="form-group">
                      <div class="col-md-offset-2 col-md-8 col-xs-8">                     
                        <textarea class="form-control" ng-model="message.text" name="textarea">Reply</textarea>
                      </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                      <div class="col-md-offset-4 col-md-4 col-xs-offset-4 col-xs-4">
                        <button id="singlebutton" class="btn btn-success" name="singlebutton" class="btn btn-primary" ng-click="addMsg()">Reply</button>
                      </div>
                    </div>

                    </fieldset>
                    </form>

            </div>

        </div>
        <!-- /.row -->


    </div>
</div>

<div class="footer">
    <p> from the Yeoman team</p>
</div>
<!-- /.container -->

<script type="text/javascript" src="scripts/main.js"></script>
<!-- jQuery Version 1.11.1 -->
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.4.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>

</html>
